.img-card {
    height: 100px;
    width: 100px;
    margin-top: 16px;
    background: transparent;
}

.btn {
    background: yellow;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 5px;

}

.button-cart-view {
    display: flex;
    justify-content: space-between;
}

.view-btn {
    background: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 5px;
}

.view-btn:hover {
    background: #377037;
    color: #fff;
}

.cart-btn {
    background: #c6430b;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 5px;
}

.cart-btn:hover {
    background: #89a90c;
    color: #fff;
}

.card-text {
    font-size: 15px;
    font-style: italic;
}

.card-title {

    height: 4.6vh;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    overflow: hidden;
}

.category-text {
    font-size: 10px;
    margin-left: 5px;
}

.flagicon {
    font-size: 10px;
    margin-left: 10px;
}

.tag {
    margin: 15px 25px;
    font-size: 10px;
    display: revert;
}



/* productcard.css */
.card {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 39%, rgba(242, 228, 198, 0.07055322128851538) 69%);
    align-items: center;
    /* Add some margin to create space between cards */
    margin: 10px;
    /* Set a auto width for medium-sized cards */
    width: auto;
    min-width: 100px;
    /* Apply a box shadow to create the shadow effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add some padding inside the card */
    padding: 10px;
    /* Set the border radius to create rounded corners */
    border-radius: 8px;
    /* Add a CSS transition for smooth hover effects */
    transition: box-shadow 0.3s ease;
}

/* Add a hover effect to increase the shadow on hover */
.card:hover {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
}

/* Create a new CSS class to clear the floats after every fourth card */
.row .clearfix {
    clear: both;
}

.filter {
    display: flex;
}

.filter-body {
    display: flex;
    gap: 10px;

}

.suggestions {
    position: absolute;
    font-style: #fff;
    color: #ffffff;
    margin-top: 30px;
    z-index: 1;
    width: 30%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.4206932773109243) 0%, rgba(68, 21, 43, 0.9977240896358543) 88%, rgba(252, 176, 69, 1) 100%);
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.suggestion {
    padding: 8px 12px;
    font-style: #fff;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #262323;
}


/* Set the width of the cards to 25% to fit four cards in each row */
/* On medium-sized screens (768px and above), each card will take up 4 columns */
/* On small screens, you may want to change the width to 50% or adjust as needed */

/* Styles for screens with a maximum width of 649 pixels */
@media screen and (max-width: 649px) {
    .col-md-3 {
        width: 100%;
        float: none;
        /* Reset the card width and float */
    }

    .card {
        /* Set a new width to fit one card per row on small screens */
        width: 100%;
        margin-left: 0px;
        /* Add some margin to create space between cards */
        margin-bottom: 10px;
    }

    input[type="text"],
    select {
        width: 100%;
        /* Make the search input and select full width */
    }

    .filter-body {
        flex-direction: column;
        align-items: center;
        align-content: center;
        /* Stack the filter elements in a column layout */
    }

    /* Add some spacing between filter elements */
    .filter-body>*+* {
        margin-top: 10px;
    }

    .suggestions {
        margin: 0px;
        margin-left: 22rem;
        font-size: 11px;
        width: 50%;
        border-style: double;
    }

    .card-title {
        height: auto;
        /* Remove the fixed height */

    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .button-cart-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* Add this line to allow button wrapping */
    }

    /* Add some margin between the buttons */
    .button-cart-view .view-btn,
    .button-cart-view .cart-btn {
        margin: 5px;
    }

}